body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000000;
    font-family: Arial, sans-serif;
}

.calculator {
    background: #d2d8d3;
    padding: 20px;
    border-radius: 15px;
    width: 300px;
}

#display {
    width: 100%;
    height: 60px;
    font-size: 30px;
    text-align: right;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 60px;
    font-size: 22px;
     background: #D2B48C; /* ← BUTTON COLOUR */

    color: #f50b0b; /* ← BUTTON TEXT COLOUR */
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: #da9f0c;
    transform: scale(1.5);
}

button:active {
    transform: scale(0.95);
}